<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Flavors</string>
	<string>Candy</string>
	<string>Starfish</string>
	<string>Tango</string>
	<string>Aqua</string>
	<string>Cheetah</string>
	<string>Garam masala</string>
	<string>Bungalow</string>
	<string>Dekko</string>
	<string>Jungle</string>
	<string>Moghul</string>
	<string>Pyjamas</string>
	<string>Thug</string>
	<string>Verandah</string>
	<string>Khaki</string>
	<string>Mint</string>
	<string>Penguin</string>
	<string>Neon</string>
	<string>Beach</string>
	<string>Snow</string>
</array>
</plist>
